<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawk.admin.persistence.dao.SysUserRoleMapper">




    <!--自定义sql-->
    <delete id="deleteByUserId"
            parameterType="java.lang.Long">
     DELETE FROM sys_user_role WHERE user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByUserIds"
            parameterType="list">
        DELETE FROM sys_user_role
        WHERE user_id IN (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
        )
    </delete>
    

</mapper>
