<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawk.admin.persistence.dao.SysUserMapper">
   <!--自定义sql-->
    <select id="selectByName"
            parameterType="String"
            resultType="com.hawk.admin.persistence.entity.SysUser">
        SELECT
        *
        FROM sys_user
        <where>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByMobile"
            parameterType="String"
            resultType="com.hawk.admin.persistence.entity.SysUser">
        SELECT
        *
        FROM sys_user
        <where>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
